* {
  box-sizing: border-box;

  h1,
  h3 {
    margin: 0;
  }

  button {
    border: none;
  }
}

:root {
  font-size: 20px;
}
$mainText: #2b283a;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b2434;
  height: 100vh;
}

.main {
  width: 20rem;
  height: 19rem;
  padding: 2rem;
  font-family: Karla, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  gap: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.main > h1 {
  font-size: 1.75rem;
  // margin-bottom: 5px;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: $mainText;
}

.main > h3 {
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.03em;
  color: #4a4e74;
}

.main > button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 32px;
  background: #5035ff;
  color: #fff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font-family: Karla;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}

.dice {
  background-color: #fff;
  color: #2b283a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Karla;
  font-weight: bold;
  font-size: 1.25rem;
  // padding: 5px 10.5px;
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;

  &.selected {
    background-color: #59e391;
  }
}

.dice-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  padding: 24px;
  // margin-bottom: 5px;
}
