* {
  box-sizing: border-box;

  h1,
  h3,
  p {
    margin: 0;
  }

  button {
    border: none;
  }
}

$mainText: #2b283a;

:root {
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .main {
    width: 90%;
    margin: auto;
  }

  :root {
    font-size: 20px;
  }
}

body {
  margin: 0;
  height: 100vh;
  background: hsl(203, 65%, 12%);
}

#root {
  position: relative;
  height: 100vh;
}

.main {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  // centering ☝️

  max-height: 450px;
  max-width: 450px;
  padding: 2rem;
  padding-bottom: 0.5rem;
  font-family: Karla, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.main > h1 {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: $mainText;
}

.main > h3 {
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: -0.03em;
  color: #4a4e74;
}

.main > button {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 32px;
  background: #5035ff;
  color: #fff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  font-family: Karla;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  }
}

.root {
  height: 100vh;
}

.dice {
  background-color: #fff;
  color: #2b283a;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Karla;
  font-weight: bold;
  font-size: 1.3rem;
  height: 2.1rem;
  width: 2.1rem;
  cursor: pointer;

  &.selected {
    background-color: #59e391;
  }

  @media screen and (max-width:500px) {
    height: 2.2rem;
    width: 2.2rem;
  }
}

.dice-grid {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 18px;
  padding: 24px;
  @media screen and (max-width: 500px) {
    // gap: 12px;
    gap: 15px;
  }
}

.stats {
  font-size: 0.7rem;
  font-weight: 400;
  align-self: flex-start;
  margin-top: 6px;
  margin-left: -30px;
}

.stopwatch {
  font-size: 50px;
}

.time-dif {
  color: hsla(118, 75%, 50%, 0.856);
}